/* styles.css */
body {
  font-family: monospace;
  text-align: center;
  background-color: #f8f8f8;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Make the body take the full height of the viewport */
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 200px); /* Double the size to 200px */
  grid-template-rows: repeat(3, 200px);
  grid-gap: 10px; /* Increase the gap between cells */
}

.cell {
  background-color: #fff;
  border: 2px solid #ccc;
  font-size: 36px; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer
}

.cell:hover {
  background-color: #e0e0e0;
}

.cell>div:hover {
  cursor: pointer;
}

.winning-cell {
  background-color: yellow; 
}

.popup-box {
  width: 25rem;
  height: 40rem;
  background-color: rgb(215, 215, 215);
  position: absolute;
  place-self: center;
  border: 2px solid black;
  border-radius: 0rem;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  transition: 5s;
  justify-content: space-around;
  align-items: center;
}

.overlay {
  font-family: monospace;
  position: absolute;
  /* Positioning and size */
  display: grid;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 2;
}

#win-lose {
  font-size: 2rem;
}

#play-again-btn {
  font-family: monospace;
  font-size: larger;
  height: 5rem;
  width: 100%;
  border: 2px solid black;
  border-left: none;
  border-right: none;
}

#play-again-btn:hover {
  background-color: rgb(115, 168, 236);
}

#play-again-btn:active {
  background-color: rgb(115, 168, 236);
  }